.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.counter__number {
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 4rem;
}

.counter__button {
  background: black;
  color: white;
  border: none;
  font-size: 3rem;
  width: 150px;
  margin-right: 1rem;
}
